@page "/Info"

<div class="d-flex justify-content-center">
    <div class="text-center">
        <img src="Images/coffe.gif" alt="Coffee Image" width="500" height="500" /> <br>
        <h1 class="display-4">Queue Rules</h1><br>
        <p class="mb-3 centered-text">
            If (your.Position == 1)<br>
            <br>- You are responsible for buying coffee next time.<br>
            - Ensure that coffee does not run out before your purchase.<br>
            - After buying coffee, 'Roll dice' to update the Queue.
        </p>
        <h1 class="display-4">Joining the Queue</h1><br>
        <p>
            - Buy a package of coffee.<br>
            - Click on 'Join Queue'<br>
            - Fill in your name.<br>
        </p>
    </div>
</div>
@code {

}
